.card {
  box-shadow: 2px;
  /* height: 200px ; */
  border-color: rgb(35, 216, 216);

  padding: 10px;
  margin: 10px auto;
}
.card-body {
  padding: 20px;
}
.card-img-top {
  max-width: 100%;
  /* height: 200px; */
  /* width: 340px; */
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
  filter: brightness(80%);
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
  filter: brightness(100%);
}
