/* Styles for wrapping the search box */
.formControl {
  max-width: 200px;
  border: none;
  outline: none;
}
.button {
  display: inline;
  border: none;
  background-color: beige;
}
.formControl:hover {
  max-width: 200px;
  border: none;
  outline: none;

  background-color: #cad5e2;
}
.button :hover {
  display: inline;
  border: none;
}
